credentials.txt
*credentials*
#*#
*.swo
*.swp
credentials.py
src/credentials.txt
.vscode/
gene_data.12-7-2020.sql 
*.xlsx
*.csv
.DS_Store
gene_data_explorer/gene_data_explorer/static/clustergrammer/
node_modules/
c_elegans.PRJNA13758.WS279.geneOtherIDs.txt
clustergrammer
*.pyc
__pycache__/
.idea/
data/
.env