<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Gene Explorer</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
  <h1>Gene Explorer</h1>
  <p>With this tool you can explore much RNA seq and other data. 
    <a href="/mine">Here</a> you can select select which data and datasets you would like to view
    and can add your own SQL. <a href="/database_info">Here</a> you can find info about all the tables in 
    the database including row and table names to help you construct your own queries.
  </p>
</div>
</body>

</html>