<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clustergrammer.js</title>

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="node_modules/clustergrammer/lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/clustergrammer/lib/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/clustergrammer/css/custom.css">

</head>

<body>
    <div class="container">

  <div id='container-id-1'>
      
  </div>
  


  <!-- Required JS Libraries -->
 <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.3.1/d3.min.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/underscore/underscore-min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

  <script src="node_modules/clustergrammer/lib/js/d3.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="node_modules/clustergrammer/lib/js/underscore-min.js"></script>
  <script src="node_modules/clustergrammer/lib/js/bootstrap.min.js"></script>


  <!-- Clustergrammer JS -->
  <script src="node_modules/clustergrammer/clustergrammer.js"></script>

  <!-- optional modules -->
  <!-- <script src='static/clustergrammer/js/Enrichrgram.js'></script>
  <script src='static/clustergrammer/js/hzome_functions.js'></script>
  <script src='static/clustergrammer/js/send_to_Enrichr.js'></script> -->

  <!-- make clustergram -->


    <span style="display:none" id="viz_json">{{viz}}</span>
    <div class=clustergrammer id="clustergrammerDisplay"></div>
    <script src='static/load_clustergram.js'></script>
    </div>
    <p>Clustergrammer is a product of the Ma'ayan lab and is licensed under the MIT license.</p>
  <p>Fernandez, N. F. et al. Clustergrammer, a web-based heatmap visualization and analysis 
    tool for high-dimensional biological data. Sci. Data 4:170151 doi: 
    <a href="https://www.nature.com/articles/sdata2017151" target="_blank">10.1038/sdata.2017.151</a> (2017).</p>
    </body>
</html>