<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Gene Explorer</title>
</head>

<body>
  <div class="container">
    <form method="POST" class="form-group">
        <h3>What form do you want your results?</h3>
        <select name="download_type">
          <option value="clustergrammer">clustergrammer heatmap</option>
          <option value="html">HTML table</option>
          <option value="tsv"> TSV </option>
        </select>
        <h3>Dataset:</h3>
        <div class="form-check-inline">
        <input type="checkbox" name="dataset" value=tph1p_v_N2> <i>tph-1p::xbp-1</i> <span data-toggle="tooltip">More Info</span></input>
        <input type="checkbox" name="dataset" value=dat1p_v_N2> <i>dat-1p::xbp-1</i> </input>
        <input type="checkbox" name="dataset" value=dat1p_tph1p_v_N2> <i>dat-1p::xbp-1 and tph-1p::xbp-1</i> </input>
        <input type="checkbox" name="dataset" value=rab3p_v_N2> <i>rab-3p::xbp-1</i></input>
        <input type="checkbox" name="larryDataset" value=eps8_RNAi> <i>eps-8</i> RNAi</input>
        <input type="checkbox" name="cco1_jmjd_Dataset" value="cco1"> <i>cco-1</i>RNAi</input>
        <input type="checkbox" name="cco1_jmjd_Dataset" value="sur5::jmjd1.2"> <i>sur-5::jmjd-1.2</i></input>
        <input type="checkbox" name="cco1_jmjd_Dataset" value="rgef::jmjd1.2"> <i>rgef-1::jmjd-1.2</i></input>
        <input type="checkbox" name="cco1_jmjd_Dataset" value="jmjd:3.1::jmjd:3.1"> <i>jmjd-3.1::jmjd-3.1</i></input>
        <input type="checkbox" name="Becca_taylor_dataset" value="Rebecca_Taylor_neuronal_RNAseq_xbp-1"> <i>Becca taylor neuron specific <i>xbp-1s</i> RNAseq</input>
        <input type="checkbox" name="dataset" value="L4_act2_v_N2_L4"> <i>act-1</i> RNAi L4</input>
        <input type="checkbox" name="dataset" value="D1_act2_v_N2_D1"> <i>act-1</i> RNAi D1</input>
        </div>
        <h3>columns:</h3>
        <input type="checkbox" name="sequence_names" value="True"> <label> sequence name </label>
        <input type="checkbox" name="column" value="baseMean"> <label> baseMean </label>
        <input type="checkbox" name="column" value="log2FoldChange"> <label> log2FoldChange </label>
        <input type="checkbox" name="column" value="lfcSE"> <label> lfcSE </label>
        <input type="checkbox" name="column" value="stat"> <label> stat </label>
        <input type="checkbox" name="column" value="pvalue"> <label> pvalue </label>
        <input type="checkbox" name="column" value="padj"> <label> padj </label>
        <br>
        <h3>would you like to return genes that aren't in all datasets?</h3>
        <select name="return_missing">
            <option value="False">no</option>
            <option value="True">yes</option>
        </select><br>
        what form are your genes in?
        <select name="gene_type">
          <option value="WBID">Worm Base ID</option>
          <option value="Name">Gene Name</option>
          <option value="Sequence">Sequence</option>
        </select>
        genes:<br>
        <textarea name="genes"></textarea><br>
    </form>
  </div>
</body>