<body>
    <div class="container">
      <form method="POST" class="form-group">
          <h3>What form do you want your results?</h3>
          <select name="download_type">
            <option value="html">HTML</option>
            <option value="tsv"> TSV </option>
          </select>
          <h3>Dataset:</h3>
          <div class="form-check-inline">
          <input type="checkbox" name="dataset" value="Vidal_RNAi"> <i>Vidal</i> </input>
          <input type="checkbox" name="dataset" value="Ahringer_RNAi"> <i>Ahringer</i> </input>
          <input type="hidden" name="RNAi" value="RNAi_screen">
          <input type="checkbox" name="sequence_names" value="True"> <label> sequence name </label>
          </div>
          <br>
          <h3>would you like to return genes that aren't in all datasets?</h3>
          <select name="return_missing">
              <option value="True">yes</option>
              <option value="False">no</option>
          </select><br>
          what form are your genes in?
          <select name="gene_type">
          <option value="WBID">Worm Base ID</option>
          <option value="Name">Gene Name</option>
          <option value="Sequence">Sequence</option>
        </select>
          genes:<br>
          <textarea name="genes"></textarea><br>
          <input type="submit" value="Submit"><br>
      </form>
    </div>
  </body>